<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Language Translate Chat">
    <meta name="author" content="Cesar Diaz">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>

<!-- Main Section start -->
<div class="main-seciton">


    <!-- flash error messages start -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <!--flash error messages end -->

    {% block content %}{% endblock content %}


</div>
<!-- Main Section end -->


</body>
</html>